{% set sec = "map" %}
{% extends "base.html" %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/colorpicker.css" type="text/css" />
    <script type="text/javascript" src="/static/js/colorpicker.js"></script>
    <script type="text/javascript" src="/static/js/eye.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript">
    $(function(){
        $('.picker').ColorPicker({
            flat: true,
            onChange: function (hsb, hex, rgb) {
                
            }
        });
    });
    </script>
{% endblock %}
{% block body %}
<div class="block">
<div>
    <a href="../{{ img_no - 10 }}/">-10</a>
    <a href="../{{ img_no - 1 }}/">previous</a>
    <img class="img" id="render" src="../bw/{{img_no}}.png" style="vertical-align:middle">
    <img class="img" id="render" src="../mapped/{{img_no}}.png" style="vertical-align:middle">
    <a href="../{{ img_no + 1}}/">next</a>
    <a href="../{{ img_no + 10}}/">+10</a><br/>
</div>
Image {{ img_no }}
</div>
<br/>
<div class="block">
   
    <div class="picker"></div>
     <div class="colors">
        {% for name, color in colors.iteritems|sorted %}
        <div class="color">{{ </div>
        {% endfor %}
     </div>
</div>
{% endblock %}